{% extends 'base.html.twig' %}

{% block title %}Forum des Associations{% endblock %}

{% block body %}

<h1>ICI ACCUEIL</h1>

<a href="associations/informatique">Informatique</a>
<a href="associations/sport">Sport</a>
<a href="associations/musique">Musique</a>

{% endblock %}
