{% extends 'base.html.twig' %}

{% block title %}Forum des Associations{% endblock %}

{% block body %}

<div class="a-degager">
    <h1>les trucs de nico</h1>
    <h1>ICI ACCUEIL</h1>

    <a href="categories/informatique">Informatique</a>
    <a href="categories/sport">Sport</a>
    <a href="categories/musique">Musique</a>
</div>


{% endblock %}
