{% extends 'base.html.twig' %}

{% block title %}Forum des Associations{% endblock %}

{% block body %}

<h1>ICI ACCUEIL</h1>

<a href="">CLUB</a>
<a href="">INFORMATIQUE</a>
<a href="">SPORT</a>

{% endblock %}
