{% extends 'base.html.twig' %}

{% block title %}Associations - Forum Associatif{% endblock %}

{% block body %}

<h1>ICI LISTING ASSOS</h1>

{% for category in categories %}
<h3>{{category.name}}</h3>
    {% for association in category.associations %}
        <a href="{{ path('association', {slug: association.slug}) }}">
            <li>{{association.name}}</li>
        </a>
    {% endfor %}
{% endfor %}

{% endblock %}
