{% extends 'base.html.twig' %}

{% block title %}Forum des Associations{% endblock %}

{% block body %}

<h1>ICI LISTING ASSOS</h1>

{% for association in associations %}
    <a href="/{{association.slug}}">
        <li>{{association.name}}</li>
    </a>
{% endfor %}

{% endblock %}
