{% extends 'base.html.twig' %}

{% block title %}Forum des Associations{% endblock %}

{% block body %}

<h1>ICI SINGLE ASSO</h1>

    <li>{{association.name}}</li>
    <li>{{association.category}}</li>
    <li>{{association.catchphrase}}</li>
    <li>{{association.description}}</li>

{% endblock %}
