/**
* Mixins for mobile first breakpoints
* Usage : @include mixin-name { your-css here }
*/

@mixin xs() {
    @media screen and (max-width: $w-sm - 1px) {
        @content;
    }
}

@mixin sm() {
    @media screen and (min-width: $w-sm) {
        @content;
    }
}

@mixin md() {
    @media screen and (min-width: $w-md) {
        @content;
    }
}

@mixin lg() {
    @media screen and (min-width: $w-lg) {
        @content;
    }
}

@mixin xl() {
    @media screen and (min-width: $w-xl) {
        @content;
    }
}

@mixin xxl() {
    @media screen and (min-width: $w-xxl) {
        @content;
    }
}

/**
* Shorcut for font combination
* Usage : @include font-props($size, $weight)
*/
@mixin font-props($size: 1.6rem, $weight: 400) {
    font-size: #{$size}px;
    font-weight: $weight;
}

/**
* Gradient border on image
* Usage : @include image-border($width, $orientation)
*/
@mixin image-border($width: 5px, $orientation: "demi") {
    background: $bg-linear-inverse;

    @if($orientation == "all") {
        padding: $width;
    } @else {
        padding-left: $width*2;
        padding-bottom: $width;
    }

    > img {
        object-fit: cover;
        box-shadow: 0 2px 4px rgba(104, 104, 104, 0.16);
    }

}

/**
*
* Pages borderpadding
* Usage @include pagespadding()
*
 */
@mixin pagespadding() {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1500px;
    margin: 0 auto;
}