// Breakpoints Width
$w-sm: 576px;
$w-md: 768px;
$w-lg: 992px;
$w-xl: 1200px;
$w-xxl: 1400px;

// Colors
$color-main: #ffffff;
$color-secondary: #87CCD3;
$color-primary: #6758A2;

// Backgrounds
$bg-main: #1D1D1B;
$bg-secondary: #87CCD3;
$bg-primary: #6758A2;
$bg-inverted: #ffffff;
$bg-linear: linear-gradient(to right, $bg-secondary 0, $bg-primary 100%);
$bg-linear-inverse: linear-gradient(to right, $bg-primary 0, $bg-secondary 100%);



// Font
$font-main: 'Poppins', sans-serif;