// Breakpoints Width
$w-sm: 576px;
$w-md: 768px;
$w-lg: 992px;
$w-xl: 1200px;
$w-xxl: 1400px;

// Colors
$color-main: rgb(255, 255, 255);
$color-light-grey: #C4C4C4;
$color-secondary: #87CCD3;
$color-primary: #6758A2;

// Backgrounds
$bg-main: #151514;
$bg-medium-grey: #1D1D1B;
$bg-light-grey: #464646;
$bg-secondary: #87CCD3;
$bg-primary: #6758A2;
$bg-inverted: #ffffff;
$bg-linear: linear-gradient(to right, $bg-secondary 0, $bg-primary 100%);
$bg-linear-inverse: linear-gradient(to right, $bg-primary 0, $bg-secondary 100%);
$bg-linear-45: linear-gradient(45deg, $bg-primary 0, $bg-secondary 100%);

// Font
$font-main: 'Poppins', sans-serif;