{% extends 'base.html.twig' %}

{% block title %}Connexion - Forum associatif{% endblock %}
{% block bodyclass %}login-page{% endblock %}
{% block body %}
    <main>
        le mdp n'est pas validé
    </main>
{% endblock %}
