{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe - Forum associatif{% endblock %}
{% block bodyclass %}reset-page{% endblock %}
{% block body %}
    {{form_start(form)}}
        {{form_widget(form)}}
    <button class="btn">{{ button_label|default('Enrengistrer') }}</button>
    {{form_end(form)}}
{% endblock %}
