.admin {
    main {
        @include pagespadding();
        padding-top: 50px;
        padding-bottom: 50px;
    }

    table {
        width: 100%;
        @include font-props(16, 400);
        background: $bg-light-grey;
        margin-top: 40px;

        thead {
            @include font-props(20, 700);

            th {
                height: 60px;
                vertical-align: middle;
                padding: 10px;
            }

            tr:hover {
                background: $bg-light-grey;
            }
        }

        tr {
            border-bottom: 1px solid $color-main;

            &:hover {
                background: $bg-medium-grey;
            }
        }

        td {
            padding: 10px;

            &.actions-button {
                display: flex;
                justify-content: space-evenly;

                a {
                    background: $bg-primary;
                    color: $color-main;
                    @include font-props(16, 700);
                    border-radius: 6px;
                    padding: 8px;

                    &:first-of-type {
                        background: $bg-secondary;
                    }
                }
            }
        }
    }
}
