.category {


    header {

        padding: 65px 0;
        background-color: $bg-secondary;
        background-size: 130px;
        background-repeat: space;

        >* {
            text-align: center;
            @include pagespadding();
        }

        p {
            @include font-props(18, 400);
            margin-top: 15px;
        }
    }

    main {
        @include pagespadding();

        >div:last-child {
            margin-bottom: 120px;
        }

        .category-settings {
            @include font-props(14, 300);
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            .category-sort {
                a:first-of-type {
                    padding-right: 15px;
                }

                @include md {
                    a:first-of-type {
                        padding-right: 33px;
                    }
                }
            }
        }

        .category__card {
            position: relative;
            margin-top: 80px;

            @include lg {
                margin-top: 200px;
            }

            >img {
                width: 80%;
                position: absolute;
                top: -120px;
                height: 170px;
                object-fit: cover;
                z-index: 0;
                max-width: 250px;

                @include sm {
                    max-width: none;
                    width: 70%;
                    height: 200px;
                }

                @include md {
                    width: 60%;
                }

                @include lg {
                    right: unset;
                    width: 40%;
                }

                @include xl {
                    height: 310px;
                }
            }

            &.no-img>div {
                width: 100%;
            }

            &:not(.no-img) {
                margin-top: 200px;
            }

            >div {
                width: 90%;
                background-color: $bg-medium-grey;
                padding: 40px 50px 40px 80px;
                margin-left: auto;
                position: relative;
                z-index: 2;

                @include lg {
                    width: 70%;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 4px;
                    background: $bg-linear-inverse;
                }

                h2 {
                    @include font-props(22, 700);
                    margin-bottom: 16px;
                }

                p {
                    @include font-props(14, 400);
                    margin-bottom: 32px;
                    line-height: 1.8;
                    height: 10vh;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                a {
                    width: auto;
                }
            }
        }
    }

    section {
        @include pagespadding();
        margin-bottom: 100px;
        text-align: center;

        >p {
            @include font-props(24, 400);

            &:last-of-type {
                margin-top: 90px;
                margin-bottom: 40px;
            }
        }

        .special-title {
            text-align: center;
            position: relative;
            margin-bottom: 30px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                height: 4px;
                background: linear-gradient(to right, $bg-primary 0, $bg-secondary 35%, $bg-secondary 65%, $bg-primary 100%);
                z-index: -1;
            }

            p {
                @include font-props(36, 700);
                display: inline-block;
                background: $bg-main;
                padding: 0 60px;
            }
        }
    }
}
