<footer>
    <div class="pre-footer">
        <h2>Un forum créé par des étudiants
            pour des étudiants</h2>
        <div class="pre-footer__content">
            <div>
                <img src="{{ asset('build/images/footer/ldv-esport.png') }}" alt="Logo LDV Esport">
                <p>LDV Esport</p>
                <p>En charge du Discord</p>
            </div>
            <div>
                <img src="{{ asset('build/images/footer/404.png') }}" alt="Logo La 404 Devinci">
                <p>La 404 Devinci</p>
                <p>En charge du site web</p>
            </div>
            <div>
                <img src="{{ asset('build/images/footer/devinci.png') }}" alt="Logo De Vinci">
                <p>Groupe De Vinci</p>
                <p>Soutien de la Vie Associative</p>
            </div>

        </div>
    </div>
    <div class="footer">
        <ul>
            <li>© {{ "now"|date("Y") }} La 404 Devinci, all rights reserved</li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
        </ul>
    </div>
</footer>
