<footer>
    {% if app.request.get('_route') != 'profil' %}
    <div class="pre-footer">
        <h2>Un forum créé par des étudiants
            pour des étudiants</h2>
        <div class="pre-footer__content">
            <div>
                <img src="{{ asset('build/images/footer/poletech.png') }}" alt="Logo LDV Esport">
                <p><a href="/associations/poletech">Poletech</a></p>
                <p>En charge de la Web TV</p>
            </div>
            <div>
                <img src="{{ asset('build/images/footer/404.png') }}" alt="Logo La 404 Devinci">
                <p><a href="/associations/la-404-devinci">La 404 Devinci</a></p>
                <p>En charge du site web</p>
            </div>
            <div>
                <img src="{{ asset('build/images/footer/devinci.png') }}" alt="Logo De Vinci">
                <p>Groupe De Vinci</p>
                <p>Soutien de la Vie Associative</p>
            </div>

        </div>
    </div>
    {% endif %}
    <div class="footer">
        <ul>
            <li>© {{ "now"|date("Y") }} La 404 Devinci, tous droits réservés</li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
        </ul>
    </div>
</footer>
