{% extends 'base.html.twig' %}

{% block title %}{{category.name}} - Forum Associatif{% endblock %}

{% block body %}

<h1>ICI SINGLE ASSO</h1>


    {% for association in associations %}
    <a href="{{ path('association', {slug: association.slug}) }}">
        <li>{{association.name}}</li>
    </a>
    {% endfor %}

{% endblock %}
