html {
    font-size: 62.5%;
    color: $color-main;
    font-family: $font-main;
}

body {
    background-color: $bg-main;
    color: $color-main;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    @include font-props(28,700);

    @include md {
        @include font-props(44,700);
    }
}

h2 + .subtitle {
    @include font-props(25,400);
    margin-top: 20px;
}

.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.bold {
    font-weight: 700;
}