.button-link {
  display: block;
  text-align: center;
  background-color: $bg-primary;
  padding: 10px 24px;
  @include font-props(14, 700);
  color: $color-main;
  border-radius: 12px;
  transition: all 0.4s;

  &:hover {
    color: $color-primary;
    background-color: $bg-inverted;
  }

  @include md {
    display: inline-block;
  }

  @include lg {
    padding: 18px 45px;
    @include font-props(24, 700);
  }

  i {
    font-size: 27px;
    margin-right: 20px;
    vertical-align: middle;

    @include lg {
      font-size: 35px;
    }
  }

  &.small {
    padding: 16px 40px;
    @include font-props(20, 700);
    border-radius: 6px;

    @include md {
      @include font-props(18, 700);
      padding: 6px 24px;
    }

    @include xl {
      @include font-props(22, 700);
      padding: 10px 34px;
    }
  }

}