.button-up {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background: $bg-linear-45;
  border-radius: 50%;
  cursor: pointer;

  position: fixed;
  right: 40px;
  bottom: 15px;
  z-index: 5;

  i {
    color: $color-main;
    font-size: 40px;
  }
}