/* Here, some shit things that we'll refactor later */
.a-degager {
  width: 300px;
  height: 150px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  padding: 20px;
  background: $bg-linear;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.16);

  * {
    @include font-props(16);
    color: $color-main;
  }
}