<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
{% if app.request.pathinfo == "/" %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PD5VQDG0JS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PD5VQDG0JS');
    </script>
{% endif %}
<body class="{% block bodyclass %}{% endblock %}">
{% include "layouts/navigation.html.twig" %}

{% set link = "https://youtu.be/An7r_JEkS4U" %}

{% if app.request.get('_route') != 'profil' %}
    {% embed "components/header-banner.html.twig" with {'external': true} %}
        {% block link %}{{ link }}{% endblock %}
        {% block text %}Viens redécouvrir sur Youtube les associations présentées lors du live de Poletech !{% endblock %}
        {% block icon %}<i class="fas fa-external-link-alt"></i>{% endblock %}
    {% endembed %}
{% endif %}

{% block body %}{% endblock %}
{% include "layouts/footer.html.twig" %}
<script>
    window.axeptioSettings = {
        clientId: "631a47c5fd0b59fd436b7935",
    };

    (function(d, s) {
        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
        e.async = true; e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
    })(document, "script");
</script>
</body>
</html>
