<div class="cta-banner cta-banner__cover">
    <div>
        {% block icone %}<i class="fab fa-discord"></i>{% endblock %}
    </div>
    <div>
        <p class="title">{% block title %}#{% endblock %}</p>
        <p>{% block text %}#{% endblock %}</p>
        <a href="{% block url %}#{% endblock %}"{% if external %} target="_blank"{% endif %} >{% block urltext %}#{% endblock %} <i class="fas fa-external-link-alt"></i></a>
    </div>
</div>