<header class="header-title-component">
    <h1>
        {% block title %}
        Créer une nouvelle association
        {% endblock %}
    </h1>
    <p class="subtitle">
        {% block subtitle %}
        * : champ obligatoire
        {% endblock %}
    </p>
</header>