<a href="{% block link %}#{% endblock %}"{% if external %}target="_blank"{% endif %} class="header-banner">
    {% block text %}
        Inserer un texte ici
    {% endblock %}

    {% block icon %}
        <i class="fab fa-facebook"></i>
    {% endblock %}
</a>