{% extends 'base.html.twig' %}

{% block title %}Edit Association{% endblock %}
{% block bodyclass %}admin admin-form{% endblock %}
{% block body %}

    {% embed 'components/header-title.html.twig' %}
        {% block title %}Modifier l'association{% endblock %}
        {% block subtitle %}* : champ obligatoire{% endblock %}
    {% endembed %}

    <main>
        {{ include('admin_association/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('admin_association_index') }}">back to list</a>
        {{ include('admin_association/_delete_form.html.twig') }}
    </main>
{% endblock %}
