{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
    {% embed 'components/header-title.html.twig' %}
        {% block title %}Créer une nouvelle association{% endblock %}
        {% block subtitle %}* : champ obligatoire{% endblock %}
    {% endembed %}

    <main>
        {{ include('admin_association/_form.html.twig') }}
        <a href="{{ path('admin_association_index') }}">back to list</a>
    </main>


{% endblock %}
